.carousel {
    &__wrapper {
        position: relative;
    }

    &__indicator {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 12px;
        color: rgb(4, 42, 48);
    }

    &__content {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid rgb(236, 242, 243);
    }

    &__slide {
        display: none;
        position: relative;
        width: 100%;

        & img {
            max-height: 434px;
            height: 100%;
        }

        &.active {
            display: block;
        }

        &-info {
            position: absolute;
            left: 12px;
            bottom: 12px;
            font-size: 10px;
            color: rgb(105, 112, 113);
        }

        &-oppen {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 44px;
            height: 44px;
            cursor: pointer;
            background: #f2f5f5;
            border: none;
            border-radius: 8px;
            outline: none;
            padding: 14px;
        }
    }

    &__controls {
        display: flex;
        gap: 12px;
        position: absolute;
        bottom: 16px;
        right: 16px;
        
        &-button {
            width: 44px;
            height: 44px;
            cursor: pointer;
            background: #f2f5f5;
            border: none;
            border-radius: 8px;
            outline: none;
            padding: 14px;
            color: #000;

            &-icon {
                stroke: currentColor;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        &-content {
            display: flex;
            justify-content: flex-start;
            flex-grow: 1;
            padding: 0 8px;
            gap: 8px;
        }

        &-button {
            cursor: pointer;
            background: #f2f5f5;
            border: none;
            border-radius: 8px;
            outline: none;
            padding: 8px;
            color: #000;

            &-icon {
                stroke: currentColor;
            }
        }
    }
    
    &__thumbnail {
        width: 108px;
        height: auto;
        cursor: pointer;
        border: 1px solid rgb(236, 242, 243);
        border-radius: 8px;

        &:hover {
            border-color: #000;
        }

        &.active {
            border-color: #000;
        }

        &.hidden {
            display: none;
        }
    }
    
}