<nav class="breadcrumbs">
    <ul class="breadcrumbs__wrap">
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Home</a>
            <span class="breadcrumbs__arrow">
                <svg class="breadcrumbs__arrow-icon" width="16" height="16">
                    <use href="./images/icons.svg#arrow-right-long"></use>
                </svg>
            </span>
        </li>
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Conveyors</a>
            <span class="breadcrumbs__arrow light">
                <svg class="breadcrumbs__arrow-icon" width="16" height="16">
                    <use href="./images/icons.svg#arrow-right-long"></use>
                </svg>
            </span>
        </li>
        <li class="breadcrumbs__item active" aria-current="page">
            Incline & Decline Conveyors
        </li>
    </ul>
</nav>