<div class="carousel">
    <div class="carousel__wrapper">
        <div class="carousel__content">
            <div class="carousel__slide active">
                <img src="./images/image-1.png" width="652px" height="434px" alt="Conveyor">
                <p class="carousel__slide-info">Picture shows conveyor with optional structures and features</p>
            </div>
            <div class="carousel__slide">
                <img src="./images/image-2.png" width="652px" height="434px" alt="Conveyor">
                <p class="carousel__slide-info">Picture shows conveyor</p>
            </div>
            <div class="carousel__slide">
                <img src="./images/image-3.png" width="652px" height="434px" alt="Conveyor">
                <p class="carousel__slide-info">Picture shows conveyor</p>
            </div>
            <div class="carousel__slide">
                <img src="./images/image-4.png" width="652px" height="434px" alt="Conveyor">
                <p class="carousel__slide-info">Picture shows conveyor</p>
            </div>
            <div class="carousel__slide">
                <img src="./images/image-5.png" width="652px" height="434px" alt="Conveyor">
                <p class="carousel__slide-info">Picture shows conveyor</p>
            </div>
            <div class="carousel__slide">
                <img src="./images/image-6.png" width="652px" height="434px" alt="Conveyor">
                <p class="carousel__slide-info">Picture shows conveyor</p>
            </div>
            <div class="carousel__slide">
                <img src="./images/image-5.png" width="652px" height="434px" alt="Conveyor">
                <p class="carousel__slide-info">Picture shows conveyor</p>
            </div>
        </div>
        <div class="carousel__controls">
            <button class="carousel__controls-button prev">
                <svg class="carousel__controls-button-icon" width="16" height="16">
                    <use href="./images/icons.svg#arrow-to-left"></use>
                </svg>
            </button>
            <button class="carousel__controls-button next">
                <svg class="carousel__controls-button-icon" width="16" height="16">
                    <use href="./images/icons.svg#arrow-to-right"></use>
                </svg>
            </button>
        </div>
        <button class="carousel__slide-oppen">
            <svg class="carousel__slide-oppen-icon" width="16" height="16">
                <use href="./images/icons.svg#expand"></use>
            </svg>
        </button>
        <span class="carousel__indicator"></span>
    </div>
    <div class="carousel__pagination">
        <button class="carousel__pagination-button prev">
            <svg class="carousel__pagination-button-icon" width="16" height="16">
                <use href="./images/icons.svg#arrow-to-left"></use>
            </svg>
        </button>
        <div class="carousel__pagination-content">
            <img src="./images/image-1.png" width="108px" alt="Thumbnail 1" class="carousel__thumbnail active" data-slide="0">
            <img src="./images/image-2.png" width="108px" alt="Thumbnail 2" class="carousel__thumbnail" data-slide="1">
            <img src="./images/image-3.png" width="108px" alt="Thumbnail 3" class="carousel__thumbnail" data-slide="2">
            <img src="./images/image-4.png" width="108px" alt="Thumbnail 4" class="carousel__thumbnail" data-slide="3">
            <img src="./images/image-5.png" width="108px" alt="Thumbnail 5" class="carousel__thumbnail" data-slide="4">
            <img src="./images/image-6.png" width="108px" alt="Thumbnail 6" class="carousel__thumbnail hidden" data-slide="5">
            <img src="./images/image-5.png" width="108px" alt="Thumbnail 6" class="carousel__thumbnail hidden" data-slide="6">
        </div>
        <button class="carousel__pagination-button next">
            <svg class="carousel__pagination-button-icon" width="16" height="16">
                <use href="./images/icons.svg#arrow-to-right"></use>
            </svg>
        </button>
    </div>    
</div>
