<div class="order">
    <h1 class="order__title">Incline & Decline Conveyors</h1>
    <div class="order__wrapper">
        <div class="order__section">
            <div class="order__group width">
                <div class="order__group-wrap">
                    <strong class="order__group-title">Conveyor Belt Width, in</strong>
                    <span class="order__group-info">
                        <svg class="order__group-info-icon" width="16" height="16">
                            <use href="./images/icons.svg#info"></use>
                        </svg>
                        <span class="order__group-tooltip">
                            Flexible gravity roller conveyors are ideal for maneuvering into places that are not suited for conventional conveyor systems. 
                        </span>
                    </span>
                </div>
                <div class="order__width-inputs">
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option1" value="10">
                        <label class="order__width-label" for="option1">10”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option2" value="18">
                        <label class="order__width-label" for="option2">18”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option3" value="24">
                        <label class="order__width-label" for="option3">24”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option4" value="30">
                        <label class="order__width-label" for="option4">30”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option5" value="36">
                        <label class="order__width-label" for="option5">36”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option6" value="42">
                        <label class="order__width-label" for="option6">42”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option7" value="48">
                        <label class="order__width-label" for="option7">48”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="option8" value="54">
                        <label class="order__width-label" for="option8">54”</label>
                    </div>
                    <div class="order__width-wrap">
                        <input class="order__width-input" type="checkbox" id="custom" value="Custom">
                        <label class="order__width-label" for="custom">Custom</label>
                    </div>
                </div>    
            </div>
            <div class="order__group length">
                <div class="order__group-wrap">
                    <strong class="order__group-title">Bed Section Length, in</strong>
                    <span class="order__group-info">
                        <svg class="order__group-info-icon" width="16" height="16">
                            <use href="./images/icons.svg#info"></use>
                        </svg>
                        <span class="order__group-tooltip">
                            Flexible gravity roller conveyors are ideal for maneuvering into places.
                        </span>
                    </span>
                </div>
                <div class="order__length-wrap">
                    <button class="order__length-button decrement" type="button">
                        <svg class="order__length-button-icon" width="16" height="16">
                            <use href="./images/icons.svg#arrow-to-left"></use>
                        </svg>
                    </button>
                    <label class="order__length-label" for="lengthInput">
                        <input class="order__length-input" id="lengthInput" type="number" value="10" step="10" min="10" max="100">”
                    </label>
                    <button class="order__length-button increment" type="button">
                        <svg class="order__length-button-icon" width="16" height="16">
                            <use href="./images/icons.svg#arrow-to-right"></use>
                        </svg>
                    </button>
                </div>                 
            </div>
            <div class="order__additional">
                <div class="order__additional-wrap">
                    <input class="order__additional-input" type="checkbox" id="additional1" value="Chain Driven Feeder">
                    <label class="order__additional-label" for="additional1">
                        <span class="order__additional-checkbox"></span>
                        Chain Driven Feeder
                    </label>
                    <span class="order__group-info">
                        <svg class="order__group-info-icon" width="16" height="16">
                            <use href="./images/icons.svg#info"></use>
                        </svg>
                        <span class="order__group-tooltip">
                            Flexible gravity roller conveyors are ideal for maneuvering into places.
                        </span>
                    </span>
                </div>
                <div class="order__additional-wrap">
                    <input class="order__additional-input" type="checkbox" id="additional2" value="Additional Support Structures">
                    <label class="order__additional-label" for="additional2">
                        <span class="order__additional-checkbox"></span>
                        Additional Support Structures
                    </label>
                </div>
                <div class="order__additional-wrap">
                    <input class="order__additional-input" type="checkbox" id="additional3" value="Knee Braces">
                    <label class="order__additional-label" for="additional3">
                        <span class="order__additional-checkbox"></span>
                        Knee Braces
                    </label>
                </div>
                <div class="order__additional-wrap">
                    <input class="order__additional-input" type="checkbox" id="additional4" value="Enhanced support">
                    <label class="order__additional-label" for="additional4">
                        <span class="order__additional-checkbox"></span>
                        Enhanced support
                    </label>
                </div>
            </div>
        </div>
        <div class="order__section">
            <div class="order__group top">
                <div class="order__sku">SKU: <span class="order__sku-id">WMD-2446F-GRYI</span></div>
                <b class="order__request">
                    <span class="order__request-checked">
                        <svg class="order__request-checked-icon" width="14" height="12">
                            <use href="./images/icons.svg#check"></use>
                        </svg>
                    </span>
                    Upon request</b>
                <div class="order__rating">
                    <div class="order__rating-wrap">
                        <span class="order__rating-star">
                            <svg class="order__rating-star-icon" width="16" height="16">
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </span>
                        <span class="order__rating-star">
                            <svg class="order__rating-star-icon" width="16" height="16">
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </span>
                        <span class="order__rating-star">
                            <svg class="order__rating-star-icon" width="16" height="16">
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </span>
                        <span class="order__rating-star">
                            <svg class="order__rating-star-icon" width="16" height="16">
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </span>
                        <span class="order__rating-star">
                            <svg class="order__rating-star-icon" width="16" height="16">
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </span>
                        <b class="order__rating-amount">(20)</b>
                    </div>
                    <!-- Додайте блок іконок зірочок та зчитування тут -->
                    <a href="#" class="order__rating-link">
                        <b>Read</b>
                        <svg class="order__rating-arrow" width="12" height="12">
                            <use href="./images/icons.svg#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <hr class="order__line">
            <div class="order__group bottom">
                <div class="order__price">
                    <span class="order__price-from">from</span>
                    <span class="order__price-amount">$22360</span>
                    <span class="order__price-ea">ea</span>
                    *
                </div>
                <div class="order__quantity">
                    <button class="order__quantity-button decrement">
                        <svg class="order__quantity-button-icon" width="16" height="16">
                            <use href="./images/icons.svg#minus"></use>
                        </svg>
                    </button>
                    <label class="order__quantity-label" for="quantityInput">
                        <input class="order__quantity-input" id="quantityInput" type="number" value="1" step="1" min="1" max="10">
                    </label>
                    <button class="order__quantity-button increment">
                        <svg class="order__quantity-button-icon" width="16" height="16">
                            <use href="./images/icons.svg#plus"></use>
                        </svg>
                    </button>
                </div>
                <button type="submit" class="order__request-button">
                    <svg class="order__request-button-icon" width="16" height="16">
                        <use href="./images/icons.svg#flag"></use>
                    </svg>
                    <b>Request</b>
                </button>
                <p class="order__request-desc">*Final price is defined after a consultation with our specialist due to actual conditions of use.</p>
            </div>
        </div>
    </div>
</div>