<div id="modal" class="modal">
    <span class="modal__close">
        <svg class="modal__close-icon" width="16" height="16">
            <use href="./images/icons.svg#close"></use>
        </svg>
    </span>
    <div class="modal__content">
        <img id="modalImage" src="./images/image-1.png" alt="Modal Image">
    </div>
    <button class="modal__button prev">
        <svg class="modal__button-icon" width="16" height="16">
            <use href="./images/icons.svg#arrow-to-left"></use>
        </svg>
    </button>
    <button class="modal__button next">
        <svg class="modal__button-icon" width="16" height="16">
            <use href="./images/icons.svg#arrow-to-right"></use>
        </svg>
    </button>
</div>
